<!DOCTYPE html>
<html>
    <head>
        <title>AURA online shop</title>
        <link rel="stylesheet" href="../css/detailProduct.css" />
        <link rel="stylesheet" href="../css/headerNuevo.css" />
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <section class="section" id="Productos">
                
                
                
                
                <img src=<%= product.image %> />
                <h3><%= product.name %> </h3>
                <p><%= product.description %></p>
                        
                


                
            </section>

        </main>
        <%- include("../partials/footer.ejs") %>
        
    
    
    </body>
</html>